.additional-product {
  margin-bottom: 35px;
}

.additional-product__merge {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  border-top: 3px solid #68b738;
}

.additional-product__merge legend {
  position: absolute;
  top: -17px;
  left: 50%;
  transform: translate(-160px, 0);
  text-align: left;
  background-color: #ffffff;
}

.additional-product__title {
  width: 226px;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 25px;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
}

.additional-product__wrapper {
  margin-top: 41px;
}

.additional-product__list {
  width: 280px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.additional-product__item {
  border-bottom: 1px solid #ededed;
}

.additional-product__item:first-child {
  border-top: 1px solid #ededed;
}

.additional-product__name {
  margin: 0;
  padding: 0;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 2px;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  font-weight: normal;
  text-transform: uppercase;
}

.additional-product__specification {
  width: 100%;
  margin-bottom: 15px;
  border-collapse: collapse;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.additional-product__specifics,
.additional-product__value {
  padding: 0;
}

.additional-product__value {
  text-align: right;
}

.additional-product__order {
  margin-bottom: 17px;
}

.additional-product__promo {
  position: relative;
  width: 280px;
  height: 289px;
  margin: 0 auto;
  margin-top: 39px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-color: #68b738;
  background-repeat: no-repeat;
  background-position: center center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
    background-size: 280px 289px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 55px;
    height: 60px;
    top: 65px;
    left: 113px;
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    background-position: center, center;
  }
}

.additional-product__promo-text {
  width: 170px;
  margin: 0 auto;
  padding-top: 187px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .additional-product {
    margin-bottom: 75px;
  }

  .additional-product__merge {
    padding: 0;
  }

  .additional-product__merge legend {
    top: -25px;
    transform: translate(-354px, 0);
  }

  .additional-product__wrapper {
    width: $tablet-width;
    margin: 0 auto;
    margin-top: 91px;
  }

  .additional-product__title {
    width: 339px;
    padding: 0 35px;
    font-size: 36px;
    line-height: 36px;
  }

  .additional-product__list {
    width: 708px;
    margin: 0 auto;
    margin-top: 73px;
    margin-bottom: 69px;
  }

  .additional-product__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 12px 38px;
    border: 1px solid rgba(205, 205, 205, 0.5);
    border-top: none;
  }

  .additional-product__name {
    width: 325px;
    padding-left: 0;
    font-size: 20px;
    line-height: 20px;
  }

  .additional-product__specification {
    width: auto;
    margin: 0;
    margin-top: 8px;
    font-size: 16px;
    line-height: 20px;
  }

  .additional-product__value {
    width: 95px;
  }

  .additional-product__order {
    width: 100%;
    margin-top: 13px;
    margin-bottom: 15px;
  }

  .additional-product__promo {
    width: 708px;
    height: 200px;
    margin: 0 auto;
    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
      background-size: 708px 200px;
    }

    &::before {
      top: 65px;
      left: 90px;
    }
  }

  .additional-product__promo-text {
    padding: 0;
    padding-top: 72px;
    margin-left: 423px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .additional-product {
    margin-bottom: 85px;
  }

  .additional-product__merge legend {
    top: -25px;
    transform: translate(-650px, 0);
  }

  .additional-product__title {
    padding: 0 40px;
  }

  .additional-product__wrapper {
    width: $desktop-width;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 91px;
  }

  .additional-product__list {
    width: 895px;
    margin: 0;
    margin-left: 40px;
  }

  .additional-product__item {
    padding: 0;
    border: none;
    border-bottom: 1px solid rgba(205, 205, 205, 0.5);
  }

  .additional-product__name {
    width: 285px;
    font-size: 20px;
    line-height: 20px;
  }

  .additional-product__specification {
    width: 285px;
  }

  .additional-product__specifics {
    text-align: left;
  }

  .additional-product__order {
    width: 245px;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 16px;
  }

  .additional-product__promo {
    width: 245px;
    height: 289px;
    margin: 0 40px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
      background-size: 245px 289px;
    }

    &::before {
      top: 65px;
      left: 96px;
    }
  }

  .additional-product__promo-text {
    padding: 0;
    padding-top: 188px;
    margin-left: 37px;
    text-align: center;
  }
}
