.categories {
  width: 280px;
  margin: 0 auto;
}

.categories__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.categories__item {
  position: relative;
  padding: 38px 20px 20px;
  margin-bottom: 20px;
  background-color: #f2f2f2;

  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    top: 25px;
    left: 22px;
    background-color: #68b738;
    border-radius: 50%;
  }
}

.categories__item--slim {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 35px;
    height: 49px;
    top: 22px;
    left: 30px;
    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
  }
}

.categories__item--fat {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 67px;
    height: 28px;
    top: 35px;
    left: 13px;
    background-image: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
  }
}

.categories__title {
  margin: 0;
  padding: 0;
  margin-bottom: 38px;
  padding-left: 72px;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
}

.categories__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.categories__catalog-link {
  position: relative;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 11px;
    top: 7px;
    right: -37px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
  }

  &:hover::after {
    width: 33px;
    right: -46px;
    background-image: url("../img/icon-right-arrow-verylong.svg");
  }

  &:active,
  &:active::after {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .categories {
    width: 708px;
  }

  .categories__item {
    box-sizing: border-box;
    padding: 75px 52px 60px;
  }

  .categories__title {
    margin-bottom: 25px;
    font-size: 36px;
    line-height: 37px;
  }

  .categories__description {
    font-size: 16px;
    line-height: 24px;
  }

  .categories__catalog-link {
    font-size: 20px;
    line-height: 20px;

    &::after {
    top: 10px;
    right: -50px;
  }

  &:hover::after {
      right: -59px;
    }
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .categories {
    width: 708px;
  }

  .categories__item {
    width: 708px;
    margin-bottom: 30px;

    &::before {
      width: 200px;
      height: 200px;
      top: 92px;
      left: 446px;
    }
  }

  .categories__item--slim {
    &::after {
      width: 140px;
      height: 194px;
      top: 80px;
      left: 476px;
    }
  }

  .categories__item--fat {
    &::after {
      width: 268px;
      height: 112px;
      top: 135px;
      left: 412px;
    }
  }

  .categories__title {
    padding: 0;
  }

  .categories__description {
    margin-bottom: 61px;
    width: 375px;
  }

  .categories__item--fat .categories__description {
    width: 344px;
  }
}

@media (min-width: $desktop-width) {
  .categories {
    width: 1220px;
  }

  .categories__list {
    display: flex;
    justify-content: space-between;
  }

  .categories__item {
    width: 570px;
    margin-bottom: 82px;

    &::before {
      width: 100px;
      height: 100px;
      top: 47px;
      left: 52px;
    }
  }

  .categories__item--slim {
    &::after {
      width: 70px;
      height: 97px;
      top: 41px;
      left: 66px;
    }
  }

  .categories__item--fat {
    &::after {
      width: 134px;
      height: 56px;
      top: 69px;
      left: 34px;
    }
  }

  .categories__title {
    margin: 0;
    padding: 0;
    margin-bottom: 74px;
    padding-left: 162px;
  }

  .categories__description {
    margin-bottom: 33px;
  }
}
