.comment {
  position: relative;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  border: none;
  border-top: 3px solid #68b738;
}

.comment__title {
  position: absolute;
  top: -16px;
  left: 50%;
  transform: translate(-160px, 0);
  width: 160px;
  padding: 0 20px;
  font-size: 24px;
  line-height: 24px;
  background-color: #ffffff;
}

.comment__value {
  box-sizing: border-box;
  display: block;
  width: 280px;
  min-height: 150px;
  margin: 0 auto;
  margin-top: 35px;
  padding: 15px 13px;
  resize: none;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  border: 1px solid rgba(205, 205, 205, 0.5);
}

@media (min-width: $tablet-width) {
  .comment {
    padding: 0;
  }

  .comment__title {
    top: -26px;
    transform: translate(-354px, 0);
    width: 260px;
    padding: 0 40px;
    font-size: 36px;
    line-height: 36px;
  }

  .comment__value {
    width: 630px;
    min-height: 174px;
    margin: 87px auto;
    margin-bottom: 33px;
    padding: 13px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .comment {
    padding: 0;
  }

  .comment__title {
    top: -26px;
    transform: translate(-650px, 0);
  }

  .comment__value {
    width: 1220px;
  }
}
