.company {
  display: flex;
  width: 280px;
  margin: 0 auto;
}

.company__invite {
  margin: 0;
  padding: 0;
  width: 140px;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
}

.company__address {
  margin: 0;
  width: 140px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .company {
    justify-content: space-between;
    width: 630px;
  }

  .company__invite {
    width: 169px;
    font-size: 20px;
    line-height: 25px;
  }

  .company__address {
    width: 167px;
    margin-top: -2px;
    padding-right: 5px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .company__address span {
    display: inline-block;
    padding-top: 20px;
  }
}

@media (min-width: $desktop-width) {
  .company {
    width: 417px;
  }

  .company__invite {
    width: 169px;
  }

  .company__address {
    padding-right: 2px;
    text-align: left;
  }
}
