.copyright {
  width: 280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__link {
  width: 120px;
  padding-bottom: 5px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #444444;

  &:active {
    opacity: 0.3;
  }
}

.copyright__logo {
  &:hover .copyright__logo-icon {
    fill: #68b738;
  }

  &:active .copyright__logo-icon {
    opacity: 0.3;
  }
}

.copyright__logo-icon {
  width: 41px;
  height: 41px;
  fill: #666666;
  margin-right: -7px;
}

@media (min-width: $tablet-width) {
  .copyright {
    width: 162px;
    margin: 0;
    padding-top: 2px;
  }
}

@media (min-width: $desktop-width) {
  .copyright__link {
    padding: 0;
  }
}
