.example-slider {
  width: 320px;
  margin: 0 auto;
}

.example-slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.example-slider__toggle {
  padding-top: 35px;
  padding-bottom: 39px;
}

.example-slider__item {
  display: none;
  margin: 0 auto;
}

.example-slider__item--checked {
  display: block;
}

@media (min-width: $tablet-width) {
  .example-slider {
    width: 708px;
  }

  .example-slider__toggle {
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .example-slider {
    width: 610px;
  }

  .example-slider__toggle {
    margin: 0;
    margin-left: 40px;
  }
}
