.example-slider {
  width: 320px;
  margin: 0 auto;
}

.example-slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.example-slider__toggle {
  padding-top: 30px;
  padding-bottom: 34px;
}

.example-slider__item {
  display: none;
  margin: 0 auto;
}

.example-slider__image {
  width: 320px;
  height: 240px;
}

.example-slider__item--checked {
  display: block;
}

@media (min-width: $tablet-width) {
  .example-slider {
    width: 708px;
  }

  .example-slider__image {
    width: 690px;
    height: 517px;
    margin-left: 17px;
    margin-top: 7px;
  }

  .example-slider__toggle {
    margin: 0 auto;
    padding-top: 17px;
    padding-bottom: 68px;
  }
}

@media (min-width: $desktop-width) {
  .example-slider {
    width: 690px;
    padding-top: 22px;
  }

  .example-slider__image {
    margin-left: 0;
    margin-top: 0;
  }

  .example-slider__toggle {
    margin: 0;
    margin-left: 80px;
    padding-top: 37px;
    padding-bottom: 68px;
  }
}
