@media (max-width: $tablet-width - 1) {
  .food-promo {
    background-image: url("../img/index-background-mobile@1x.jpg"), linear-gradient(to bottom, #64a83b 0%, #64a83b 100%);
    background-size: 320px 305px, 100% 305px;
    background-repeat: no-repeat;
    background-position: 50% 0;
  }
}

.food-promo__wrapper {
  width: 280px;
  margin: 0 auto;
}

.food-promo__title {
  width: 280px;
  margin: 0;
  margin-bottom: 25px;
  padding-top: 27px;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}

.food-promo__slogan {
  width: 280px;
  margin-bottom: 28px;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.food-promo__image {
  display: block;
  width: 280px;
  height: 271px;
}

.food-promo__program-select {
  margin: 3px 0 22px 0;
  font-size: 14px;
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .food-promo {
    width: 708px;
    margin: 0 auto;
  }

  .food-promo__wrapper {
    display: flex;
    flex-direction: column;
    width: 709px;
    margin: 0;
  }

  .food-promo__title {
    width: 420px;
    margin: 0;
    margin-bottom: 21px;
    margin-left: 89px;
    padding-top: 34px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: #111111;
  }

  .food-promo__slogan {
    width: 420px;
    margin-bottom: 48px;
    margin-left: 90px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: #111111;
  }

  .food-promo__wrapper picture {
    order: 3;
    z-index: -1;
  }

  .food-promo__image {
    order: 3;
    width: 709px;
    height: 609px;
    margin-top: -80px;
    z-index: -1;
  }

  .food-promo__program-select {
    width: 245px;
    margin: 0;
    margin-left: 90px;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .food-promo {
    position: relative;
    width: 100%;
    padding-bottom: 135px;

    &::before {
      content: "";
      position: absolute;
      width: 50%;
      height: 696px;
      bottom: 80px;
      right: 0px;
      background-image: url("../img/index-background-desktop@1x.jpg"), linear-gradient(to bottom, #64a83b 0%, #64a83b 100%);
      background-size: 720px 696px, 100% 696px;
      background-position: right top, left top;
      background-repeat: no-repeat;
      z-index: -1;
    }
  }

  .food-promo__wrapper {
    width: 1220px;
    margin: 0 auto;
  }

  .food-promo__title,
  .food-promo__slogan,
  .food-promo__program-select {
    margin-left: 80px;
  }

  .food-promo__slogan {
    margin-bottom: 53px;
  }

  .food-promo__wrapper picture {
    z-index: 0;
  }

  .food-promo__image {
    width: 552px;
    height: 499px;
    margin-top: -366px;
    margin-left: 450px;
    z-index: 0;
  }
}
