.page-header {
  width: 100%;
  margin: 0 auto;
}

.page-header__logo-wrapper {
  width: 320px;
  margin: 0 auto;
}

.page-header__logo {
  margin-left: 20px;
  margin-top: 11px;
  margin-bottom: 14px;
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 708px;
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .page-header__logo-wrapper {
    width: 173px;
    margin: 0;
  }

  .page-header__logo {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: 1220px;
    margin-top: 54px;
    margin-bottom: 75px;
  }

  .page-header__logo-wrapper {
    width: 245px;
  }
}
