.program-select {
  margin: 0;
  padding: 0;
  border: none;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}

.program-select__list {
  width: 280px;
  margin: 0 auto;
  margin-top: 26px;
  padding: 0;
  list-style: none;
}

.program-select__item {
  margin-bottom: 25px;
}

.program-select__description {
  position: relative;
  padding-left: 46px;
  font-size: 16px;
  line-height: 18px;
  color: #222222;
  text-transform: uppercase;
  cursor: pointer;
}

.program-select__radio + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 28px;
  height: 28px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
}

.program-select__radio:hover + label::before,
.program-select__radio:focus + label::before {
  border-color: #bababa;
}

.program-select__radio:disabled + label,
.program-select__radio:disabled + label::before {
  border-color: #bababa;
  opacity: 0.3;
  cursor: default;
}

.program-select__radio:checked + label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 9px;
  width: 12px;
  height: 12px;
  background-color: #68b738;
  border-radius: 50%;
}

.program-select__radio:disabled + label::after {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .program-select {
    width: 630px;
    margin: 0 auto;
    padding: 0;
    border: 1px solid rgba(205, 205, 205, 0.5);
  }

  .program-select__list {
    width: 345px;
    margin: 33px 28px;
    padding: 0;
    list-style: none;
  }

  .program-select__item {
    margin-top: 32px;
  }

  .program-select__description {
    padding-left: 60px;
    font-size: 20px;
    line-height: 20px;
  }

  .program-select__radio + label::before {
    top: -4px;
    left: 0;
    width: 38px;
    height: 38px;
  }

  .program-select__radio:checked + label::after {
    top: 7px;
    left: 11px;
    width: 18px;
    height: 18px;
  }
}

@media (min-width: $desktop-width) {
  .program-select {
    width: 570px;
    margin: 0 40px;
  }
}
