.program-selection {
  width: 100%;
  margin-bottom: 32px;
}

.program-selection__data-wrapper {
  margin-bottom: 43px;
}

.program-selection__title {
  width: 280px;
  margin: 15px auto;
}

.program-selection__description {
  width: 270px;
  margin: 25px auto;
  margin-bottom: 38px;
  padding-right: 10px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.program-selection__submit-wrapper {
  width: 280px;
  margin: 0 auto;
}

.program-selection__submit {
  width: 280px;
  margin: 0 auto;
  cursor: pointer;
}

.program-selection__remark {
  margin-top: 21px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .program-selection {
    margin: 0 auto;
    margin-top: 58px;
    margin-bottom: 72px;
  }

  .program-selection__title {
    width: 715px;
    margin-bottom: 55px;
  }

  .program-selection__description {
    width: 325px;
    padding-right: 305px;
    margin-bottom: 65px;
    font-size: 20px;
    line-height: 30px;
  }

  .program-selection__data-wrapper {
    margin-bottom: 98px;
  }

  .program-selection__submit-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 690px;
  }

  .program-selection__submit {
    width: 283px;
    margin: 0;
    margin-left: 30px;
  }

  .program-selection__remark {
    width: 316px;
    margin: 0;
    margin-left: 30px;
    font-size: 16px;
    line-height: 16px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .program-selection {
    margin-bottom: 82px;
  }

  .program-selection__title {
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 55px;
  }

  .program-selection__description {
    margin: 0 auto;
    margin-bottom: 65px;
    padding-right: 895px;
  }

  .program-selection__data-wrapper {
    display: flex;
    width: 1300px;
    margin: 0 auto;
    margin-bottom: 92px;
  }

  .program-selection__submit-wrapper {
    justify-content: flex-start;
    width: 1220px;
  }

  .program-selection__submit {
    width: 570px;
    margin: 0;
    margin-right: 80px;
  }

  .program-selection__remark {
    width: 315px;
    margin: 0;
  }
}
