.slider-control {
  width: 197px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.slider-control__choice {
  padding: 0;
  padding-bottom: 1px;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  vertical-align: middle;
  background-color: transparent;
  border: none;
  border-bottom: 1px dotted rgba(17, 17, 17, 0.23);
  cursor: pointer;
  outline: none;

  &:hover {
    border-bottom: 1px solid rgba(17, 17, 17, 0.4);
  }

  &:active {
    border-bottom: 1px solid transparent;
  }
}

@media (max-width: $tablet-width - 1) {
  .slider-control__area {
    position: relative;
    width: 84px;
    height: 14px;
    border: 1px solid #cdcdcd;
    border-radius: 6px;
  }

  .slider-control__indicator {
    position: absolute;
    left: 6px;
    top: 4px;
    width: 35px;
    height: 6px;
    background-color: #68b738;
    border-radius: 3px;
  }
}

@media (min-width: $tablet-width) {
  .slider-control {
    width: 567px;
  }

  .slider-control__choice {
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
    font-size: 20px;
    line-height: 20px;
  }

  .slider-control__area {
    position: relative;
    width: 428px;
    height: 6px;
    margin-bottom: 6px;
    background-color: #dcdcdc;
    border-radius: 3px;
  }

  .slider-control__indicator {
    position: absolute;
    left: 46%;
    top: -14px;
    box-sizing: border-box;
    width: 34px;
    height: 34px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      left: 12px;
      top: 12px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #68b738;
    }

    &:hover {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      border: 2px solid #68b738;
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);

      &::after {
        left: 11px;
        top: 11px;
      }
    }
  }
}
