.social {
  width: 280px;
}

.social__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 125px;
  margin: 0 auto;
  padding: 0;
  padding-right: 10px;
  list-style: none;
}

.social__item {
  margin: 0;
  padding: 0;
  
}

.social__link {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.social__link-icon {
  fill: #666666;

  &:hover {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .social__list {
    padding: 0;
    padding-left: 15px;
    padding-bottom: 3px;
  }

  .social__link--vkontakte .social__link-icon {
    width: 30px;
    height: 16px;
  }

  .social__link--instagram .social__link-icon {
    width: 23px;
    height: 23px;
  }

  .social__link--facebook .social__link-icon {
    width: 14px;
    height: 28px;
  }
}
